<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="./static/history.css">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="./static/script.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reddit Insights Dashboard</title>
</head>

<body>

  <header>
    <h1>Redditor</h1>
  </header>

  <div class="dashboard">
    <aside class="sidebar">
      <h2>Filter by Keyword</h2>
      <div id="keyword-buttons"></div> 
    </aside>

    <!-- Main content -->
    <main class="content" id="posts-container">
      <div id="analytics" class="analytics-panel"></div>
      <canvas id="classificationChart" width="400" height="200"></canvas>

      <p>Loading data... </p>
    </main>
  </div>

  <script>
    loadData(); 
  </script>

</body>

</html>